## Задание 1

Скачайте с сайта [datasests](https://grouplens.org/datasets/movielens/) датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [227]:
import pandas as pd
import re
import numpy as np

In [28]:
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [59]:
top_info = data.groupby(['movieId', 'rating']).count().sort_values('userId', ascending=False).head(1)
top_movie_id = top.reset_index().movieId.values[0]
top_movie_id

318

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [63]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [148]:
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
country     1189482 non-null object
year        1189482 non-null int64
quantity    1189482 non-null float64
category    1189482 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [153]:
countries_check = power['country'].str.contains(r'Latvia|Lithuania|Estonia', regex=True)
categories_check = power['category'].isin([4, 12, 21])
years_check = power['year'].isin(np.arange(2005, 2011))
quantity_check = power['quantity'] >= 0
sum_quantity = power[(countries_check) & (categories_check) & (years_check) & (quantity_check)]['quantity'].sum()
sum_quantity

240580.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
[Котировки онлайн](https://fortrader.org/quotes);
[Курсы валют](https://www.finanz.ru/valyuty/v-realnom-vremeni)

In [225]:
data = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[1]
data.drop('Unnamed: 0', axis=1, inplace=True) #удалила пустой столбец
data = data[data['Предложение'].str.contains(r'\d+', regex=True)] #удалила строки, в которых единственной доп информацией было название валют - так легче будет работать с таблицей
data = data.rename(columns={'Рубль': 'Валюты'}) #поменяла название столбца, чтобы оно отражало смысл
data.reset_index().drop('index', axis=1)
#по-хорошему, надо бы что-то сделать со столбцом 'Спрос', непонятно, почему его не удалось экспортировать
data

,Валюты,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,GBP/RUB,1005881,-,1020226,"-1,41 %",-14345,23:44:00
1,EUR/RUB,902575,-,915165,"-1,38 %",-12590,23:50:00
2,USD/RUB,761934,-,773220,"-1,46 %",-11286,23:50:00
3,JPY/RUB,07290,-,07388,"-1,32 %",-00098,23:44:00
4,CNY/RUB,115786,-,117042,"-1,07 %",-01256,23:43:00
5,CHF/RUB,835159,-,847207,"-1,42 %",-12048,23:44:00
7,EUR/USD,11848,-,11839,"0,07 %",00009,23:50:00
8,EUR/GBP,08979,-,08977,"0,02 %",00002,23:50:00
9,EUR/JPY,1238900,-,1238800,"0,01 %",00100,23:50:00
10,EUR/CHF,10814,-,10806,"0,07 %",00008,23:50:00
12,USD/EUR,08442,-,08447,"-0,05 %",-00005,23:44:00
13,USD/GBP,07578,-,07579,"-0,01 %",-00001,23:44:00
14,USD/JPY,1045610,-,1046750,"-0,11 %",-01140,23:50:00
15,USD/CHF,09128,-,09127,"0,01 %",00001,23:50:00
17,JPY/EUR (100:1),08100,-,08100,"0,01 %",00000,23:43:00
18,JPY/GBP,00073,-,00072,"0,07 %",00000,23:44:00
19,JPY/USD,00096,-,00096,"0,09 %",00000,23:43:00
20,JPY/CHF (100:1),08700,-,08700,"0,08 %",00000,23:50:00
22,GBP/USD,13195,-,13195,"0,01 %",00001,23:50:00
23,GBP/JPY,1379853,-,1380871,"-0,07 %",-01018,23:44:00
24,GBP/EUR,11137,-,11146,"-0,08 %",-00009,23:50:00
25,GBP/CHF,12044,-,12044,"0,00 %",00000,23:50:00
27,GBP/CHF,12044,-,12044,"0,00 %",00000,23:50:00
28,EUR/CHF,10814,-,10806,"0,07 %",00008,23:50:00
29,JPY/CHF (100:1),08700,-,08700,"0,08 %",00000,23:50:00
30,USD/CHF,09128,-,09127,"0,01 %",00001,23:50:00
32,EUR/UAH,333036,-,333268,"-0,07 %",-00232,23:44:00
33,USD/UAH,281150,-,281500,"-0,12 %",-00350,23:43:00
34,CHF/UAH,308008,-,308437,"-0,14 %",-00429,23:43:00
35,GBP/UAH,371006,-,371433,"-0,12 %",-00428,23:44:00

In [226]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 35
Data columns (total 7 columns):
Валюты                 30 non-null object
Предложение            30 non-null object
Спрос                  30 non-null object
Предыдущее закрытие    30 non-null object
%                      30 non-null object
Абсолютное значение    30 non-null object
Время                  30 non-null object
dtypes: object(7)
memory usage: 1.9+ KB